body {

    font-family: Arial, sans-serif;
    font-family: Papyrus;
    margin: 0;
    padding: 0;
}


nav ul {
    font-size: large;
    list-style-type: none;
    display:flex;
    justify-content: center;
}


nav li a {
    color: #333;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}