header h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


header h2{
    text-align: center;
}


nav {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    text-align: center;
}

nav li a {
    display: block;
    color: #333;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ddd;
}

section {
    padding: 20px;
    margin: 0;
    clear: both;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#about img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
}



 /*Photo of me animation*/
/*
html {
    height: 100vh;
}

body {
    height: 500vh;
    background: #000;
}

canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
}*/
