
header h1 {

    font-size: 122px;
    color: wheat;
    text-shadow: red;
    text-decoration-color: salmon;
    text-align: center;
    margin: auto;

}

header h2 {
    color: wheat;
    text-align: center;
    margin: auto;
}
body {

    font-family: Arial, sans-serif;
    font-family: Papyrus;
    margin: 0;
    padding: 0;
}


nav ul {
    font-size: large;
    list-style-type: none;
    display:flex;
    justify-content: center;
}


nav li a {
    color: wheat;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}

section p h3 h1{
    color: grey;
}

section{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-child(1){

}
section:nth-child(2){
    color: #42455a;
//
}
section:nth-child(3){

}
section:nth-child(4){
    color: #42455a;
//
}
section .container{
    margin: 100px;
}
section h1{
    font-size: 3rem;
    margin: 20px;
}
section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
section .text-container{
    display: flex;
}

section .text-container .text-box{


    color: black;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    background: orange;
}

section img{
    alignment: center;
    margin-right: 50px;
    border-radius: 20px;
}

section .text-container .text-box h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (max-width: 900px){
    section h1{
        font-size: 2rem;
        text-align: center;
    }
    section .text-container{
        flex-direction: column;
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}





