
header h1 {

    font-size: 122px;
    color: #333;
    text-shadow: red;
    text-decoration-color: salmon;
    text-align: center;
    margin: auto;

}

header h2 {
    text-align: center;
    margin: auto;
}
body {

    font-family: Arial, sans-serif;
    font-family: Papyrus;
    margin: 0;
    padding: 0;
}


nav ul {
    font-size: large;
    list-style-type: none;
    display:flex;
    justify-content: center;
}


nav li a {
    color: #333;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}


